<header class="web-header">
  <div class="container">
    <nav class="navbar">
      <span class="navbar__heading">PastryHome</span>
      <div class="navbar__user">
        <a href="#signin" role="button" class="navbar__user-name">Sign in</a>
        <a href="#login" role="button" class="navbar__user-name">Login</a>
      </div>
    </nav>

    <!-- /* Modal */ -->

    <div id="signin" class="overlay">
      <div class="signin-popup">
        <a href="#" class="close">&times;</a>
        <form action="..." method="...">
          <fieldset class="form-fieldset form-fieldset--personaldata">
            <legend class="form-legend">Sign in</legend>
            <div class="form-register">
              <div class="form-group">
                <label class="form-group__label" for="name">First name</label>
                <input class="form-group__control" type="text" id="name">
              </div>
              <div class="form-group">
                <label class="form-group__label" for="lastname">Last name</label>
                <input class="form-group__control" type="text" id="lastname">
              </div>
              <div class="form-group">
                <label class="form-group__label" for="email">email</label>
                <input class="form-group__control" type="email" id="email">
              </div>
              <div class="form-group">
                <label class="form-group__label" for="password">Password</label>
                <input class="form-group__control" type="password" id="nombre">
              </div>
              <div class="form-group">
                <label class="form-group__label" for="city">City</label>
                <input class="form-group__control" type="text" id="city">
              </div>
            </div>
          </fieldset>
          <fieldset class="form-fieldset form-fieldset--typecustomer">
            <legend class="form-legend">¿Qué tipo de usuario eres?</legend>
            <div class="form-register">
              <div class="form-group form-group--typeclient">
                <input class="form-group__control" type="radio" id="r-01" name="typeclient">
                <label class="form-group__label" for="r-01">Customer</label>
              </div>
              <div class="form-group form-group--typeclient">
                <input class="form-group__control" type="radio" id="r-02" name="typeclient">
                <label class="form-group__label" for="r-02">Baker</label>
              </div>
            </div>
          </fieldset>
          <div class="form-group form-group--btn">
            <button type="submit" class="btn btn--form">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
