<div class="footer">
        <div class="container">
            <nav class="nav__footer">
                <ul class="footer__menu">
                    <li><a class="footer__item" href="/carta/">Nuestra carta</a></li>
                    <li><a class="footer__item" href="/como-funciona">Cómo funciona</a></li>
                    <li><a class="footer__item" href="/que-es-pastryhome">¿Qué es PastryHome?</a></li>
                    <li><a class="footer__item" href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
                    <li><a class="footer__item" href="/contacto">Contacto</a></li>
                    <li><a class="footer__item" href="/contacto">Fjalla</a></li>
                    <li><a class="footer__item" href="/contacto">Signin</a></li>
                </ul>
            </nav>
            <!-- <div class="icon-rs"><a href="https://www.instagram.com/wetaca/" target="_blank" rel="noopener noreferrer"><img
                        src="/images/icons/instagram.svg" alt="instagram"></a><a href="https://www.facebook.com/Wetaca/"
                    target="_blank" rel="noopener noreferrer"><img src="/images/icons/facebook.svg" alt="facebook"></a><a
                    href="https://twitter.com/wetacaES/" target="_blank" rel="noopener noreferrer"><img
                        src="/images/icons/twitter.svg" alt="twitter"></a></div>
        </div> -->
    </div>