/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Average&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box
}

/* ----------------------------------------
  RESET
---------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1.4;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}


/* ----------------------------------------
  GLOBAL
---------------------------------------- */



/* ----------------------------------------
  UTILITIES
---------------------------------------- */

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 3em;
}

.container--flexbox {
   padding: 2rem 2rem;
   display: flex;
   justify-content: space-between;
}

.container-search {
   display: flex;
   padding-top: 20px;
   width: 20%;
   min-width: 200px;
}



container--form {
   display: flex;
   justify-content: space-between;
   align-self: center;
}




/* ----------------------------------------
  BUTTON
---------------------------------------- */

.btn {
   -webkit-appearance: none;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: 0;
   min-height: 2.5rem;
   border-radius: 8px;
   padding: 0 15px;
   cursor: pointer;
   background-color: #4a90e2;
   color: #fff;
   font-size: 1rem;
   text-align: center;
}

.btn--user-menu {
   background-color: transparent;
   color: #4a4a4a;
   position: relative;
   cursor: pointer;
   border: none;
   height: 30px;
}

/* ----------------------------------------
  WEB-HEADER
---------------------------------------- */

.web-header {
   margin: 0 auto;
   background-color: transparent;
   padding: 0 35px 0 15px;
   background-color: rgba(255, 161, 144);
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 5rem;

}

.navbar__heading {
   margin-left: 50px;
   padding: 0 10px 0;
   font-family: 'Pacifico', cursive;
   font-weight: 400;
   color: #4a4a4a;
   background-color: transparent;
   font-size: 36px;
   line-height: 1.6;
}

.navbar__user {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar__user-profile {
   text-decoration: none;
   margin-right: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 5rem
}

.navbar__user-avatar {
   border-radius: 8px;
   width: 40px;
   height: 40px;

}

.navbar__user-name {
   text-decoration: none;
   padding: 20px 10px;
   font-family: 'Fjalla One', sans-serif;
   font-weight: 400;
   color: #4a4a4a;
}

.navbar__user-name:hover {
   color: #719192;
}

.form-group--btn {
   padding-top: 10px;
   display: flex;
   justify-content: center;
}

.btn--form {
   text-align: center;
   font-size: 1rem;
   font-family: 'Fjalla One', sans-serif;
   font-weight: 400;
   color: #fff;
   background-color: #4a4a4a;
   border-radius: 0;
}

/* Translate LOGIN



/*.user__menu{
/*   position:relative;
/*  display: none;
/*}
/*
/*.user__after::before{
/*   content:"";
/*   position: absolute;
/*   left:0;
/*   display: inline-block;
/*   width: 28px;
/*   height: 3px;
/*   background-color: #cdecff;   
/*}*/

/* ----------------------------------------
 MODAL
---------------------------------------- */

/* [role="button"] {
   display: inline-block;
    border-radius: 4px; 
   padding: 20px 10px;
   font-family: 'Fjalla', cursive;
   color: #4a4a4a;
   font-weight: 400;
   text-decoration: none;
}

[role="button"]:hover {
   color: rgba(197, 130, 130, 0.8);
} */

.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 10;
   background: rgba(0, 0, 0, 0.6);
   transition: opacity 200ms;
   visibility: hidden;
   opacity: 0;
}

.overlay:target {
   visibility: visible;
   opacity: 1;
}

.close {
   position: absolute;
   text-decoration: none;
   top: 20px;
   right: 20px;
}

.form-legend {
   padding: 20px;
   text-align: center;
   font-family: 'Fjalla One', sans-serif;
   color: #4a4a4a;
   font-weight: 400;
   font-size: 1.5rem;
}

.form-fieldset {
   border: none;
}

.signin-popup {
   position: relative;
   z-index: 20;
   margin: 10px auto;
   padding: 20px;
   background: #fff;
   border: 1px solid #3c4245;
   max-width: 500px;
   height: auto;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.form-register {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.form-group {
   margin: 10px;
}

.form-group--typeclient {
   display: flex;
}

.form-group__label {
   display: block;
   margin-bottom: 10px;
   font-family: 'Fjalla One', sans-serif;
   color: #4a4a4a;
   font-weight: 400;
   font-size: 1.15rem;
}


.form-group__control {
   font-size: 1rem;
   padding-left: 5px;
   display: block;
   width: 200px;
   border: none;
   border-bottom: 1px solid #757575;
}


.form-fieldset--typecustomer {
   padding: 5px;
   text-align: center;
}

/* ----------------------------------------
 MAIN
---------------------------------------- */
.heading__h1 {
   padding-top: 125px;
   padding-bottom: 25px;
   font-size: 3.875rem;
   text-align: center;
   font-family: 'Fjalla One', sans-serif;
   font-weight: 400;
   color: #4a4a4a;
}

.heading__h2 {
   padding-bottom: 25px;
   font-size: 1.8rem;
   text-align: center;
   font-family: 'Fjalla One', sans-serif;
   font-weight: 400;
   color: #4a4a4a;
}

.heading__h2--bestseller {
   display: block;
   padding: 0 3rem;
   padding-bottom: 15px;
   font-size: 1.5rem;
   text-align: left;
}

.search__select {
   padding: 0 auto;
}

.custom__select--home {
   margin: 30px 0 6rem;
   width: 100%;
   display: flex;
   justify-content: center;

}

.form__title {
   margin-bottom: 5px;
   display: block;
   font-size: 1.5rem;
   font-family: 'Fjalla One', sans-serif;
   font-weight: 400;
   color: #4a4a4a;

}

.form__submit {}

/****************************************
*****************Breadcrumb*************/

/* Style the list */

ul.breadcrumb {
   padding: 10px 80px 16px;
   list-style: none;
   font-family: 'Fjalla One', sans-serif;
   background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
   display: inline;
   font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
   padding: 8px;
   color: black;
   content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

/* ----------------------------------------
 MEDIA
---------------------------------------- */

img {
   height: auto;
   max-width: 100%;
   vertical-align: middle;
}

.btn--block {
   display: block;
   width: 100%;
}

/* .cards {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
} */

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	min-width: 50px; 
	max-width: 230px;
   height: 100%;
   margin-right: 20px;
	/* width: 20%; */
	/* margin-left: 40px;
	margin-bottom: 20px; */
  }

.cards__item {
   display: flex;
   padding: 1rem;
}

@media (min-width: 40rem) {
   .cards__item {
      width: 50%;
   }
}

@media (min-width: 56rem) {
   .cards__item {
      width: 33.3333%;
   }
}

/* .card {
   background-color: white;
   border-radius: 0.25rem;
   box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
   display: flex;
   flex-direction: column;
   overflow: hidden; 
}*/

 .card__content {
   display: flex;
   /* flex: 1 1 auto; */
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 1;
   flex-direction: column;
   padding: 1rem;
}

@media (min-width: 40rem) {
   .card__image::before {
      padding-top: 66.6%;
   }

   .card__title {
      margin-bottom: 1.25rem;
      color: #696969;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
   }

   .card__author {
      flex: 1 1 auto;
      font-family: 'Average', serif;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
   }

   .media__rating {
      font-size: 10px;
      padding: 30px 5px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
   }

   .checked {
      color: orange;
   }

   /* ----------------------------------------
 Star-rating
---------------------------------------- */
   /* .star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
} */


   /* ----------------------------------------
 Dropdown
---------------------------------------- */
   [aria-expanded="false"]+.dropdown__menu {
      display: none;
   }

   .dropdown {
      position: relative;
   }

   .dropdown__menu {
      position: absolute;
      margin-top: 15px;
      left: 0;
      right: 0;
      z-index: 20;
      min-width: 10rem;
      border: 1px solid #ddd;
      padding-left: 5px;
      font-family: 'Fjalla One', sans-serif;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
      border-radius: 4px;
   }

   .dropdown--link {
      border: 2px solid #4a4a4a;

   }

   .dropdown--link .dropdown__menu {
      top: calc(100% - 12px);
   }

   /* .dropdown__menu .dropdown__item {
   display: block;
   padding: .3rem .8rem;
   color: blue;
   text-decoration: none;
} */

   .dropdown__btn01,
   .dropdown__btn02,
   .dropdown__btn03,
   .filter__title {
      position: relative;
      background: transparent;
      border: none;
      text-decoration: none;
      padding: 10px 120px 10px 10px;
      font-family: 'Fjalla One', sans-serif;
      font-weight: 400;
      font-size: 1rem;
      color: #4a4a4a;
      cursor: pointer;
   }

   .dropdown__btn01::after,
   .dropdown__btn02::after,
   .dropdown__btn03::after {
      content: "▼";
      position: absolute;
      width: 10px;
      height: 10px;
      color: #3c4245;
      right: 10px;
   }


   .dropdown__btn01:focus,
   .dropdown__btn02:focus,
   .dropdown__btn03:focus {
      outline: 0;
   }

   .dropdown__list>li {
      margin-bottom: 6px;
   }


   /* ----------------------------------------
 RESULTS
---------------------------------------- */







   .container-card-results {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(153px, 1fr));
      gap: 10px;
      /* width: 50%; */
   }

   .container-card {
      width: 80%;
      height: 100%;
      padding: 20px;
   }

   .container-card--main {
      display: flex;
      width: 100%;
   }

   .container-card--result {
      display: block;
      width: 100%;
   }

   .container-card--mini {
      width: 20%;
   }

   .container-card-result--mini {
      display: flex;
      padding: 20px;
   }


   .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      min-width: 50px;
      max-width: 50%;
      /* max-width: 153px; */
      height: 100%;
      /* width: 20%; */
      /* margin-left: 40px;
	margin-bottom: 20px; */
   }

   .card--picture {
      width: 50%;
      margin-right: 20px;
   }

   .card--description {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: left;

   }

   .card--mini {
      margin: 5px;
   }


   .card__image {
      width: 100%;
   }

   .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   }

   .card__data {
      padding: 2px 16px;
      overflow: hidden;
   }   }