<main>
    <h1 class="heading__h1">¿Qué estás buscando?</h1>
    <h2 class="heading__h2">¡Los mejores dulces de nuestros reposteros para cualquier ocasión y evento!</h2>
    <div class="search__select"></div>
    <div class="container container--form">

      <form for="demo" class="custom__select custom__select--home">
        <div class="dropdown dropdown--link navbar__item">
          <button type="button" class="dropdown__btn01 " aria-expanded="false">Tipo de dulce</button>
          <div class="dropdown__menu">
            <ul class="dropdown__list">
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="cake">Tarta</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox2" value="dessert">Postre</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="iceCream">Helado</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="teaBiscuit">Pastas</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="chocolate">Chocolate</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="dropdown dropdown--link navbar__item">
          <button type="button" class="dropdown__btn02" aria-expanded="false">¿Alergías y/o intolerancias?</button>
          <div class="dropdown__menu">
            <ul class="dropdown__list">
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="gluten">Gluten</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox2" value="egg">Huevo</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="nuts">Frutos Secos</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="peanut">Cacahuete</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="soja">Soja</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="milk">Leche</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="dropdown dropdown--link navbar__item">
          <button type="button" class="dropdown__btn03" aria-expanded="false">Ocasión</button>
          <div class="dropdown__menu">
            <ul class="dropdown__list">
              <li>
                <label><input class="dropdown__item" type="radio"  value="birthday">Cumpleaños</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio"  value="wedding">Boda</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio"  value="babyShower">Baby Shower</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio"  value="firstCommunion">Comunión</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio"  value="friends">Con Amigos</label>
              </li>
            </ul>
          </div>
        </div>
        <button type="submit" class="btn btn--form">Buscar</button>
      </form>
    </div>


    <div class="media">
      <div class="container container--flexbox">
        <div class="card">
          <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
          <div class="card__info">
            <div class="card__data card__info-data">
              <h4>John Doe</h4>
              <span>Architect & Engineer</span>				
            </div>
            <div class="media__rating card__info-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
          <div class="card__info">
            <div class="card__data card__info-data">
              <h4>John Doe</h4>
              <span>Architect & Engineer</span>				
            </div>
            <div class="media__rating card__info-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
          <div class="card__info">
            <div class="card__data card__info-data">
              <h4>John Doe</h4>
              <span>Architect & Engineer</span>				
            </div>
            <div class="media__rating card__info-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
          <div class="card__info">
            <div class="card__data card__info-data">
              <h4>John Doe</h4>
              <span>Architect & Engineer</span>				
            </div>
            <div class="media__rating card__info-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
          <div class="card__info">
            <div class="card__data card__info-data">
              <h4>John Doe</h4>
              <span>Architect & Engineer</span>				
            </div>
            <div class="media__rating card__info-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
          <div class="card__info">
            <div class="card__data card__info-data">
              <h4>John Doe</h4>
              <span>Architect & Engineer</span>				
            </div>
            <div class="media__rating card__info-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </main>